<!DOCTYPE html>

<html>

<head>
    <title>Coordinates</title>
    <!-- <link rel="stylesheet" href="./css/styles.css"> -->
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class = "potrait" src="img/pic.jpg">
        <p>Website to determine the geographic coordinates of a location. Please enter the location in the search bar.</p>
        <form id="form-coordinates">
            <input id="input-coordinates" placeholder="Location">
            <button>Find</button>
        </form>
        <p id = "message-3"></p>
        <p id = "message-4"></p>
    </div>
    {{>footer}}
    <script src="js/app-coordinates.js"></script>
</body>

</html>